<h3><%= videos.channelName %></h3>
<br>
<form action="/download" method="post">
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('download');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<table width="100%" border="1">
    <tr bgcolor="grey">
        <td><font size=2><b>Uploaded</b></font></td><td><font size=2><b>Thumbnail</b></td><td><font size=2><b>Title</b></font></td><td><font size=2><b>Downloaded</b></td><td><b><input type="checkbox" onClick="toggle(this)" /></td>
    </tr>
    <%
    videos.forEach(video => {
    %>
    <tr>
        <td><font size=1><b><%= video.publishedText %></b></font></td>
        <td><img src="/thumbnails/<%= video.videoId %>.jpg" width="120px" height="90px"></td>
        <td width="500px"><font size=2><b><%= video.title %></b></font></td>
        <td><%= (video.formats)?video.formats.join(","):'' %></td>
        <td><input type="checkbox" id="<%= video.videoId %>" name="download" value="<%= video.videoId %>"></td>
    </tr>
    <% }); %>
</table>
<table width="100%">
    <tr>
        <td width="33%" align="left">
            <% if (begin > 0) { 
                let newBegin = (begin < perPage) ? 0 : begin - perPage;
            %>
            <a href="/channel?id=<%= channelId %>&begin=<%= newBegin %>">Previous page</a>
            <% } %>
        </td>
        <td width="33%" align="center">
            <select name="format" id="format">
                <option value="mp3">MP3</option>
                <option value="m4v">M4V</option>
                <option value="cinepak">Cinepak</option>
            </select>
            <input type="submit" value="Download">
        </td>
        <td  width="33%"align="right">
            <a href="/channel?id=<%= channelId %>&begin=<%= begin + perPage %>">Next page</a>
        </td>
    </tr>
</table>
</form>